.logo {
  background: #4e4d4d
}

a {
  background-color: #4e4d4d;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 20px;
  text-decoration: none;
  }
a:hover {
  background: #373737;
  border-left: 2px solid #838383;
  border-right: 2px solid #838383;

}
